{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Change you password{% endblock %}


{% block content %}
    <div class="row">
      <div class="col-8 col-lg-4 offset-2 offset-lg-4">
    <div class="text-center mt-5 b-1">
        <h1 class="h3 mb-3 font-weight-normal">Смена пароля</h1>
    </div>
    <div class="mt-5 form-label-group">
        <form action="." method="post" class="form-signin pt-5">
            {{ form|crispy }}
            <button class="btn btn-primary btn-lg btn-block" type="submit">Изменить</button>
            {% csrf_token %}
        </form>
    </div>
      </div>
    </div>
{% endblock %}